// 定义颜色规范
$color-background           : #F2F6F8;
$color-text                 : #212121;
$color-text-l               : rgba(255, 255, 255, 0.5);
$color-text-ll              : rgba(255, 255, 255, 0.8);
$color-text-info            : #6b6b74;
$color-border               : #F2F6F8;

//定义字体规范
$font-size-small-s  : 10px;
$font-size-small    : 12px;
$font-size-medium   : 14px;
$font-size-medium-x : 16px;
$font-size-large    : 18px;
$font-size-large-x  : 22px;
