form {
  width: 100%;
  background-color: #fff;
}
form div.dis{
  height: 15px;
  background-color: #F5F5F5;
}
form p{
  font-size: 1.2em;
  text-align: left;
  padding:11px 20px;
  border-bottom: 1px solid #eee;
}
form p span {
  color: #999;
  width: 20%;
}
form p input{
  width: 70%;
  float: right;
  text-align: right;
  font-size: 1.2em;
  background-color: #fff;
}
form p select{
  float: right;
  background-color: #fff;
  font-size: 1.1em;
  appearance:none;
}
input[type="date"]{direction: rtl}
input,button,select,textarea{outline:none}
textarea,select,input{-webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;}
