.hb-des{
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
  padding: 0.6rem 0;
}
.hb-des p{
  display: inline-block;
  width: 47%;
  padding: 1rem;
}
.hb-des p:nth-child(1){
  border-right: 1px solid #ddd
}
.hb-des span{
  font-size: 1.6rem;
  background: url(../Image/ic_seat.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0.6rem 0;
  padding-left: 3rem;
  text-align: center;
  color: #484848;

}
div.lt-content form.hb-form input{
  text-align: left;
  font-size: 1.6rem;
  font-weight: normal;
}
div.lt-content form.hb-form p span{
  font-size: 1.6rem;
}
.hb-des p:nth-child(2){
  width: 53%;
}
.hb-des p:nth-child(2) span{
  background: url(../Image/ic_waiguan.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.hb-des p:nth-child(2){
  padding-right: 0;
}
.hb{
  background: #f5f5f5
}
.hb-des{
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
}


/*hb-form start*/
.hb-form p:nth-child(5) span{
  width: 50%;
  text-align: center;
}
.hb-form p:nth-child(5) span:nth-child(1){
  border-right: 1px solid #ddd;
  text-align: left;
  padding-right: 1rem;
}
.hb-form a{
  float: right;
}
/*hb-form end*/

.lt-content .hb-form p:last-child{
  border: none;
}
.lt-content .hb-form p:last-child input{
  font-weight: normal;
  font-size: 1.8rem;
}
.lt-content .hb-form p:nth-child(5) small{
  display: inline-block;
  width: 50%;
}
.lt-content .hb-form p:nth-child(5) small:nth-child(1) {
  border-right: 1px solid #e6e6e6;
}


/*new ---start */
.hb-pic{
  width: 100%;
  height: 18.3rem;
  background: #ddd;
  position: relative;
}
.hb-pic .hb-blur{
  width: 100%;
  height: 2.4rem;
  line-height: 2.4rem;
  background: rgba(0,0,0,0.6);
  position: absolute;
  bottom: 0;
}
.hb-pic .hb-blur small{
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  width: 50%;
  padding: 0 0.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hb-pic .hb-blur small:nth-child(2){
  text-align: right;
}
.hb-seat{
  height: 4.5rem;
  border-bottom: 1px solid #eaeaea;
  background: #fff;
}
.hb-seat big{
  display: inline-block;
  width: 50%;
  line-height: 4.5rem;
  padding-left: 2rem;
}
.hb-seat big small {
  font-size: 1.6rem;
  display: inline-block;
  width: 100%;
  height: 3.3rem;
  line-height: 3.3rem;
  background-position: left;
  background-size: 2rem;
  background-repeat: no-repeat;
  padding-left: 2.5rem;
}
.hb-seat big:nth-child(1) small{
  border-right: 1px solid #d6d6d6;
  background-image: url('../Image/ic_seat.png');
}
.hb-seat big:nth-child(2) small{
  background-image: url('../Image/ic_waiguan.png');
  background-size: 2.3rem;
}
.hb-form{
  margin-top: 1rem;
  border-top: 1px solid #eaeaea;
}
.hb-form form h3{
  padding: 1.3rem 1.5rem;
  font-size: 1.6rem;
  color: #9b9b9b;
  font-weight: normal;
  border-bottom: 1px solid #fafafa;
}
.hb-form form h3 input {
  float: right;
  text-align: right;
  font-size: 1.6rem;
  font-weight: normal;
  width: 70%;
}

.hb-form form h3:nth-child(5) small {
  display: inline-block;
  width: 50%;
}
.hb-form form h3:nth-child(5) small input {
  display: inline-block;
  width: 100%;
  font-weight: normal;
  font-family: "Microsoft YaHei";
  font-size: 1.6rem;
  text-align: left;
}
.hb-form form h3:nth-child(5) small:nth-child(1) {
  border-right: 1px solid #e6e6e6;
}
.hb-form form h3:nth-child(5) small:nth-child(2) {
  padding-left: 1.5rem;
}
.hb-dis{
  height: 5rem;
}


.hb-form .bookOrder span{
  background-image: url('../Image/ic_tip.png');
  color: #9b9b9b;
  font-weight: normal;
}
.hb-form .bookOrder h3 {
  text-align: center;
  background: #fff;
  padding: 0.5rem 0
}
/*new --- end */
