html{
  font-size: 62.5%;
}

.his-tab{
  display: inline-block;
  width: 25%;
  text-align: center;
  line-height: 3em;
  font-size: 1.2em;
}

.tab-line{
  border-bottom: 1px solid #eee;
  background: #fff;
}

.dis{
  width: 100%;
  height: 10px;
  background-color: #F5F5F5;
}
/*游艇历史订单-start*/

.his-col{
  width: 100%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #fff
}

.his-col1{
  width: 100%;
  padding: 3% 4%;
}
.his-col1 p{
  display: inline-block;
  width: 50%;
  font-size: 1.6rem;
  font-weight: bold;
  color: #666;
}
.his-col1 p:nth-child(1) span{
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.5rem;
  position: relative;
  top: 0.3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.ship-bg{
  background-image: url(../Image/ic_yacht.png);
}
.plane-bg{
  background-image: url(../Image/ic_from.png);
}
.self-bg{
  background-image: url(../Image/ic_name.png);
}
.spe-bg{
  background-image: url(../Image/ic_seat.png);
}
.his-col1 p:nth-child(2){
  text-align: right;
}

.his-col2 {
  padding: 2%;
}
.his-col2 p{
  display: inline-block;
  width: 50%;
}
.his-col2 p:nth-child(1){
  height: 8rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.his-col2 p:nth-child(1) img{
  width: 100%;
  height: 100%;
}
.his-col2 p:nth-child(2){
  width: 30%;
  position: absolute;
}
.his-col2 p:nth-child(3){
  width: 20%;
  font-size: 1.8rem;
  float: right;
  color: #F6B140;
  font-weight: bold;
}
.his-col2 p:nth-child(2) span{
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}
.his-col2 p:nth-child(2) span:nth-child(2){
  color: #aaa;
  font-weight: normal;
}

.his-col3{
  width: 100%;
  padding: 3% 4%;
}
.his-col3 p{
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
  color: #aaa;
}
.his-col3 p span{
  color: #000;
}

.his-col4{
  width: 100%;
  padding: 3% 4%;
}
.his-col4 p{
  display: inline-block;
  width: 50%;
  font-size: 1.5rem;
}
.his-col4 p:nth-child(2){
  font-weight: bold;
  text-align: right;
}
.his-col4 p:nth-child(2) span{
  border: 1px solid #4BDC9B;
  padding: 3% 4%;
  border-radius: 2rem;
}
.his-col4 p:nth-child(2) span:nth-child(1){
  color: #4BDC9B;
  margin-right: 0.5rem;
}
.his-col4 p:nth-child(2) span:nth-child(2){
  background-color:  #4BDC9B;
  color: #fff;
}
/*游艇历史订单-end*/
