.pick-up{
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid #f5f5f5;
  line-height: 5rem;
  padding: 0 1rem;
  background: #fff;
}
.pick-up p{
  display: inline-block;
  font-size: 1.4rem;
  vertical-align: middle;
  color: #727272
}
.pick-up  b {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.6rem;
  border: 0.4rem solid #56B686;
  border-radius: 50%;
  vertical-align: middle;
}

.pick-up  b.rc{
  border-color: #E0767A
}
.pick-up small a{
  color: red;
  margin-right: .6rem;
}
.switch{
  display: inline-block;
  float: right;
}
.switch small{
  font-size: 1rem;
}
/*预约豪车-end*/
.address textarea,select,input{-webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;
  background-color: #fff;  font-size: 1.8rem;
  font-weight: bold;
  outline: none;
  font-family: "Arial","Microsoft YaHei","\9ED1\4F53","\5B8B\4F53",sans-serif;
}
.address {
  height: 5rem;
  line-height: 5rem;
  font-weight: normal;
  width: 100%;
  padding: 0 0 0 1.6rem ;
  border-bottom: 1px solid #f5f5f5;
  background: #fff;
}
.address div{
  display: inline-block;

}
.address div:nth-child(1){
  width: 20%;
}
.address div:nth-child(2){
  width: 80%;
  padding: 0 1rem;
}
.address div:nth-child(2) select{
  border-left: 1px solid #ddd;
  padding-left: 1rem;
}
.address a{
  display: inline-block;
  background: url(../Image/jiantou_right.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1rem 1.5rem;
  width: 1rem;
  height: 1.5rem;
  vertical-align: middle;
  float: right;
  position: relative;
  top: 1.5rem;
}

/*取车时间-start*/
.pick-time{
  width: 100%;
  border-bottom: 1px solid #eee;
    background: #fff;
    height: 9rem;
}
.pick-time div{
  display: inline-block;
  text-align: center;
}
.pick-time div:nth-child(1){
  width: 38%;
  float: left;
}
.pick-time div:nth-child(2){
  width: 24%;
  margin-top: 1rem
}
.pick-time div:nth-child(3){
  width: 38%;
  float: right;
}
.pick-time .time-order p{
  margin: .5rem 0;
}
.pick-time .time-order p input{
  width: 100%;
}
.pick-time .time-order p:nth-child(1){
  font-size: 1.5rem;
  color: #999;
}
.pick-time .time-order p:nth-child(2){
  font-size: 2rem;
  font-weight: bold;
}
.pick-time .time-order p:nth-child(3){
  font-size: 1.8rem;
  padding-left: 2rem;
}
.pick-time .time-order p:nth-child(3) input{
  font-weight: normal;
}
.pick-time .time-diff p{
  background:  linear-gradient(to right,rgba(89,221,163,0.8),rgba(81,199,177,1));
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  vertical-align: bottom;
  line-height: 6rem;
  font-size: 2.5rem;
}
.pick-time .time-diff p small{
  font-size: 1.6rem;
}
.pick-time .time-diff div{
  width: 7rem;
  height: 7rem;
  border: 1px solid #4BDC9B;
  border-radius: 50%;
  line-height: 6.4rem;
  vertical-align: bottom;
}
div.pick-time div.time-diff h1{
  margin: auto;
}
/*取车时间-end*/
.pick-order{
  background: #f5f5f5;
  padding-top: 1rem;
  margin-bottom: 5rem;
  overflow: hidden;
}
.pick-order p{
  color: #727272;
  background-color: #fff;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #f5f5f5;
  padding-left: 1rem;
}
.pick-order p span{
  float: right;
  padding-right: 1rem;
}
.pick-order p:nth-child(1){
  border-top: 1px solid #eee;
}
.pick-order p:nth-child(2) span{
  position: absolute;
  right: 0;
}


.pay-quick{
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0 1rem;
  position: fixed;
  bottom: 0;
  background: #fff;
  border-top: 1px solid #eee;
}

.pay-quick p{
  display: inline-block;
  width: 50%;
}
.pay-quick p:nth-child(1) span{
  color: red;
}
.pay-quick p:nth-child(2){
  text-align: right;
}
.pay-quick p:nth-child(2) span{
  background-color: #4BDC9B;
  color: #fff;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
}
