/*order-lt ---start*/
.order-lt{
  width: 100%;
  margin: 1rem 0;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  font-weight: normal;
}
.order-lt div:nth-child(1){
  padding: 1rem;
}
.order-lt div:nth-child(1) span{
  font-size: 1.6rem;
  font-weight: normal;
}
.order-lt div:nth-child(1) span:nth-child(1){
  background: url(../Image/ic_changzu.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 2rem;
  padding-left: 1.8rem;
}
.order-lt div:nth-child(1) span:nth-child(2){
  float: right;
}
.order-lt div:nth-child(2){
  background-color: #f9f9f9;
  padding: 0.9rem 1rem;
}
.order-lt div:nth-child(2) p{
  display: inline-block;
  font-size: 1.8rem;
  font-weight: normal;
}
.order-lt div:nth-child(2) p:nth-child(1){
  background: url(../Image/hold.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size:cover;
  width: 35%;
  height: 6.5rem;

}
.order-lt div:nth-child(2) p:nth-child(2){
  width: 35%;
  padding-left: 0.5rem;
  font-size: 1.8rem;
  vertical-align: top;
}
.order-lt div:nth-child(2) p:nth-child(3){
  color: #FF9F0F;
  text-align: right;
  width: 30%;
  word-wrap:break-word;
  word-break:break-all;
  vertical-align: top;
}

.order-lt div:nth-child(3){
  font-size: 1.3rem;
  color: #484848;
  padding: 1rem 0;
}
.order-lt div:nth-child(3) p{
  display: inline-block;
  width: 50%;
  padding: 0 1rem;
  vertical-align: middle;
}
.order-lt div:nth-child(3) p:nth-child(1){

}
.order-lt div:nth-child(3) p:nth-child(2) span{
  background-color: #4BDC9B;
  color: #fff;
  float: right;
  border-radius: 2rem;
  padding:0.6rem 1rem;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
}
/*order-lt ---end*/
/*order-ship ---start*/
.order-ship div:nth-child(1) span:nth-child(1){
  background: url(../Image/ic_seat.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}
.order-ship div:nth-child(2) p:nth-child(2) small{

}
/*order-ship ---end*/
/*order-air ---start*/
.order-air div:nth-child(1) span:nth-child(1){
  background: url(../Image/ic_airplane.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.order-air div:nth-child(1) span:nth-child(2){
  float: none;
  font-weight: normal;
  font-size: 1rem;
  border: 1px solid #FF9F0F;
  color: #FF9F0F;
  padding: 0 .3rem;
  border-radius: .1rem;
  margin-left: .3rem;
  display: inline-block;
  vertical-align: middle;
}
.order-air div:nth-child(1) span:nth-child(3){
  float: right;
}
.order-air div:nth-child(2){
  padding: 2.5rem 1rem;
}
.order-air div:nth-child(2) b{
  font-size: 1.8rem;
}
.order-air div:nth-child(2) b i{
  background: url(../Image/img_luxian.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 4rem;
  height: 1rem;
  margin: 0 .3rem;
}
.order-air div:nth-child(2) b:nth-child(2){
  float: right;
  color: #FF9F0F;
}
/*order-air ---end*/
