.pick0{
  width: 100%;
  text-align: center;
  background: #fff
}
.pick{
  display: inline-block;
  width: 50%;
  padding:10% 5%;
  border-bottom: 1px solid #eee;
}
.pick p{
  width: 60%;
  height: 60px;
  font-weight: bold;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.pick input{
  margin-top: 10px;
  width: 90%;
  font-size: 1.3em;
  font-weight: bold;
}
.pick1{
    border-right: 1px solid #eee;
}
.pick1 p{
  background-image: url(../Image/ic_from.png);
}

.pick2 p.ic-to{
  background-image: url(../Image/hhehheh.png);
}
div.pick0 #form2  div p {
  border: none;
  padding: 0;
}
.pick h3 input{
  font-size: 1.9rem;
}
/*planeform-start*/
.form0{
  width: 100%;
  background-color: #fff;
}
.form0 p{
  height: 60px;
  width: 100%;
  line-height: 60px;
  padding: 10px;
  border-color: #fafafa;
}
.form0 p span{
  display: inline-block;
  width: 10%;
  height:33px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.form0 form p:nth-child(1) span{
  background-image: url(../Image/ic_date.png);
}
.form0 form p:nth-child(2) span{
  background-image: url(../Image/ic_name.png);
}
.form0 form p:nth-child(3) span{
  background-image: url(../Image/ic_phone.png);
}
.form0 form p:nth-child(4) span{
  background-image: url(../Image/ic_seat2.png);
}
.form0 form#form p span {
  width: 15%;
}
.form0 form#form p input,select.prs{
  font-weight: normal;
  width: 85%;
  height: 33px;
  text-align: left;
  display: inline-block;
  font-size: 1.6rem;
}
/*.form0 form p:nth-child(1) input{
  float: none;
  position: absolute;
  line-height: 43px;
}*/
.form0 form p:nth-child(1) span.s2{
  width: 3%;
  height: 25px;
  position: relative;
  top: 5px;
  background-image: url(../Image/arrow_grey.png);
}
.s2 {
  float: right;
}

.form0 form#form p:nth-child(5).xd{
  height: 3rem;
  line-height: 3rem;
  padding: 0;
  text-align: center;
  color: #aaa;
  font-size: 1rem;
  border-bottom: 1px solid #e6e6e6;
}
.form0 form p:nth-child(5) small{
  padding-left: 1.5rem;
  background-image: url(../Image/ic_tip.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1.2rem;
}
/*planeform-end*/

/*FeatureService-start*/
.unique{
  width: 100%;
  background: #fff
}
.ser{
  padding: 2%;
  overflow: hidden;
}
.ser a span{
  color: #F5A623;
  background-color: #f5f5f5;
  word-wrap:normal;
}
/*.unique div p{
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 1.2em;
  border-bottom: 1px solid #fafafa;
  padding: 0 10px;
}


.unique div p:nth-child(1) a{
  color: #47D79C;
  font-weight: bold;
  border-left: 5px solid #47d79c;
  height: 40px;
  padding: 5px;
}

.unique div p span{
  width: 10%;
  height: 30px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 13%;
  margin-right: 2%;
}

.unique div p:nth-child(2) span{
  background-image: url(../Image/ic_smoking.png);
}
.unique div p:nth-child(3) span{
  background-image: url(../Image/ic_service.png);
}
.unique div p:nth-child(4) span{
  background-image: url(../Image/ic_food.png);
}
.unique div p:nth-child(5) span{
  background-image: url(../Image/ic_note.png);
}

.unique div p:not(.sep) a{
  border: 1px solid #47d79c;
  border-radius: 50em;
  font-size: 1.5rem;
  width: 22%;
  height: 3rem;
  display: inline-block;
  text-align: center;
  margin: 0 0.2rem;
  color: #47d79c;
  font-weight: bold;
  line-height: 3rem;
}
.unique div p:not(.sep) a.aa{
  margin-left: 1rem;
}

.unique div p:not(.sep) input{
  display: inline-block;
  text-align: right;
}
.ser{
  padding: 2%;
  margin-bottom: 5rem;
  overflow: hidden;
}
.ser a span{
  color: #F5A623;
  background-color: #f5f5f5;
  word-wrap:normal;
}
/*FeatureService-end*/
form {
  width: 100%;
  background-color: #fff;
}
form div.dis{
  height: 15px;
  background-color: #F5F5F5;
}
form p{
  font-size: 1.2em;
  text-align: left;
  padding:11px 20px;
  border-bottom: 1px solid #eee;
}
form p span {
  color: #999;
  width: 20%;
}
form p input{
  width: 70%;
  float: right;
  text-align: right;
  font-size: 1.2em;
  background-color: #fff;
}
form p select{
  float: right;
  background-color: #fff;
  font-size: 1.1em;
  appearance:none;
}
input[type="date"]{direction: rtl}
input,button,select,textarea{outline:none}
textarea,select,input{-webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;}











/**spe_services-start*/
.unique div div.spe_services {
  padding: 1.2rem 1rem;
  border-top: 1px solid #e6e6e6;
}
.unique div div.spe_services h2{
  color:#47d79c;
  padding: 0.5rem 0.7rem;
  border-left: 0.5rem solid #47d79c
}
.unique div div.spe_services_item h2{
  padding: 1.6rem 0 1.6rem 2.2rem ;
  font-weight: normal;
  font-size: 1.6rem;
  color:#999;
  border-bottom: 1px solid #fafafa;
}
.unique div div.spe_services_item h2 span{
  padding:0.5rem 0  0.6rem 3rem;
  background: url(../Image/ic_smoking.png) no-repeat;
  background-position: left;
  background-size: 2.5rem;
  display: inline-block;
  width: 25%;
}
.unique div div.spe_services_item h2 small{
  border: 1px solid #47d79c;
  border-radius: 2rem;
  display: inline-block;
  width: 6rem;
  height: 2.5rem;
  vertical-align: middle;
  line-height: 2.5rem;
  text-align: center;
  margin-right: 0.5rem;
  color: #47d79c;
}
.unique div div.spe_services_item h2 small.selected{
  color: #fff;
  background: #47d79c;

}
.unique div div.spe_services_item h2:nth-child(2) span{
    background: url(../Image/ic_service.png) no-repeat;
    background-position: left;
    background-size: 2.5rem;
}
.unique div div.spe_services_item h2:nth-child(3) span{
    background: url(../Image/ic_food.png) no-repeat;
    background-position: left;
    background-size: 2.5rem;
}
.unique div div.spe_services_item h2:nth-child(4) span{
    background: url(../Image/ic_note.png) no-repeat;
    background-position: left;
    background-size: 2.5rem;
}
.unique div div.spe_services_item h2:nth-child(4) input{
  display: inline-block;
  width: 70%;
  font-size: 1.6rem;
  font-weight: normal;
  text-align: right;
}

/**spe_services-end*/
