.car_detil_total{
  overflow: hidden;
  background: #f5f5f5;
}
.car_order_detail{
  width: 100%;
  height: 60rem;
  background: #f5f5f5;
  overflow: hidden;
}
.car_order_detail p.gap{
  font-size: 1.3rem;
  padding: 1.2rem 1.5rem;
  border-bottom: 1px solid #eaeaea;
}
.car_order_detail p.title1 {
  background: #fff;
  font-size: 1.6rem;
  font-weight: normal;
  border-bottom: 1px solid #eaeaea;
  padding: 1.8rem 1.5rem;
}
.car_order_detail div.product{
  background: #fff;
}
.car_order_detail div.product h2{
  font-size: 1.6rem;
  padding: 1.3rem 1.5rem;
  border-bottom: 1px solid #e6e6e6;
}
.car_order_detail div.product h2 span{
  padding-left: 2.5rem;
  background: url('../Image/car.png') no-repeat;
  background-position: left;
  background-size: contain;
}
.car_order_detail div.product h2 span.oShip{
  background: url('../Image/ic_yacht.png') no-repeat;
  background-position: left;
  background-size: 2rem;
}
.car_order_detail div.product h2 small{
  float: right;
  color: #f6a826;
  font-size: 1.3rem;
}
.car_order_detail div.product p.tel{
  height: 9rem;
  border-bottom: 1px solid #e6e6e6;
  padding: 1.5rem;
}
.car_order_detail div.product p span{
  display: inline-block;
  border: 1px solid #f6f6f6;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: #ddd;
  vertical-align: middle;
}
.car_order_detail div.product p b {
  font-size: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.7rem;
}
.car_order_detail div.product p i{
  font-style: normal;
  display: inline-block;
  width: 4.5rem;
  height: 4.5rem;
  background: url(../Image/butten_phone.png) no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle;
  float: right;
  transform: translateY(17%);
}
.car_order_detail div.product h3{
  padding: 2.3rem 1.5rem;
  height: 11.7rem;
  display: flex;
  border-bottom: 1px solid #d6d6d6;
}
.car_order_detail div.product h3 div:nth-child(1){
  width: 35%;
  height: 100%;
  border: 1px solid #ddd;
}
.car_order_detail div.product h3 div:nth-child(2){
  width: 65%;
  height: 100%;
  padding: 0 0 0 1rem ;
}
.car_order_detail div.product h3 div:nth-child(2) div{
  padding-left:2rem;
  background: url(../Image/start_end.png) no-repeat;
  background-position: left;
  background-size: contain;
  border: none;
  width: 100%;
  height: 60%;
}
.car_order_detail div.product h3 div:nth-child(2) div p{
  font-weight: normal;
  font-size: 1.4rem;
}
.car_order_detail div.product h3 div:nth-child(2) div p:nth-child(1){
  margin-bottom: 1.2rem;
}
.aboard_time{
  font-size: 1.4rem;
  font-weight: normal;
  margin-top: 1.5rem;
}
.order_det{
  background: #fff;
  padding: 1.5rem;
  border-bottom: 1px solid #e6e6e6;
}
.order_det p{
  font-size: 1.5rem;
  line-height: 2rem;
}
.order_det p span:nth-child(1){
  color: #999;
  margin-right: 2.5rem;
}
.pay_quick{
  width: 100%;
  display: flex;
  height: 6.3rem;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #dbdbdb;
  padding: 1.1rem;
  background: #fff
}
.pay_quick div{
  font-size: 1.6rem;
  color: #4bdc9b;
  font-weight: bold;
  width: 50%;
  text-align: center;
  padding: 0 1rem;
}
.pay_quick div p{
    border: 1px solid #4bdc9b;
    height: 100%;
    border-radius: 2rem;
    line-height: 4rem;
}
.pay_quick div:nth-child(2) p{
  color: #fff;
  background: #4bdc9b
}


/*orderdetailship ---start*/
/*#ods{
  padding: 0.2rem 0;
}*/
div.product div.odc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
div.product div.odc h4{
  font-size: 1.4rem;
  color: #999;
  font-weight: normal;
}
/*orderdetailship ---end*/
