/*shipditail:start*/
.contents{
  position: absolute;
}
/*img{
  width: 100%;
  height: 100%;
}*/
.shipContents{
  position: relative;
  margin-bottom: 10px;
}
.shipContents div{
  overflow: hidden;
}
.shipContents h2{
  display:inline-block;
  margin-left: 10px;
  float:left;
}
.shipContents p {
  float: right;
  font-weight: bold;
  font-size: 1.4em;
  margin-right: 10px;
}
.shipContents span{
  color:#555;
  line-height: 25px;
  margin-top: 5px;
  float: left;
  margin-left: 6px;
}
.shipContents span:nth-child(1){
  width: 25px;
  height: 25px;
  background-image: url(../Image/ic_location.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top:-3px;
}
.shipContents span:nth-child(3){
  width:1px;
  height:21px;
  background-color: #aaa;
}
.shipContents span:nth-child(5){
  color:#fff;
  background-color: #F5A623;
  border-radius: 2px;
  padding:0 10px;
}
.shipContents span:nth-child(6){
  color:#F1A322;
  font-size: 1.7rem;
  float:right;
  margin-right: 10px;
}

.shipContents span:nth-child(7){
  width:30px;
  height: 30px;
  background-image:url(../Image/ic_like_nomal.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top:30px;
  right:10px;
}
.shipContents span:nth-child(7).heart-on{
  background-image:url(../Image/ic_like_hover.png);
}
.shipContents span:nth-child(8){
  color:#fff;
  font-weight: bold;
  font-size: 1.3em;
  background-color: rgba(0,0,0,0.6);
  margin-left: 0;
  padding:10px;
  position: absolute;
  bottom:80px;
  left:0;
}
.shipContents span b{
  font-size: 1.6em;
}
/*shipditail:end*/
