
/*modal-start*/
.modal{
  width: 100%;
  height: 100%;
  left: 0;
  top: 20.5rem;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 100
}
.modal-close{
  display: none;
}
.modal-open{
  display: block;
}

/*modal-end*/
.YH-B{
  width: 100%;
}
/*nav-start*/
.YH-N{
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  background-color: #fff;
  height: 3.6rem;
  line-height: 3.6rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #f5f5f5;
  z-index: 100;
}
div.scl-m div p{
  border-bottom: none;
  line-height: normal;
}
.YH-N a{
  display: inline-block;
  width: 25%;
  height: 3rem;
  line-height: 3rem;
  border-right: 1px solid #f5f5f5;
}
.YH-N a span{
  display: inline-block;
  transform: translateY(-50%);
  border-top: 0.6rem solid #000;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  margin-left: 0.3rem;
}
.turnLight{
  color: #47D79C;
}
.YH-N a.turnLight span {
  border-bottom:0.6rem solid #47D79C;
  border-top:0.6rem solid transparent;
  transform: translateY(-33%);
}
/*nav-end*/
.menu-close{
  display: none;
}
.menu-open{
  display: block;
}
.YH-C{
  width: 100%;
  height: 17rem;
  background-color: #fff;
  text-align:left;
  padding-top: 0.6rem;
}
.YH-C p{
  width: 33.3%;
  display: inline-block;
  padding: 0.4rem 0.8rem;

}
.YH-C p span{
  border: 1px solid #e6e6e6;
  display: inline-block;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  height: 2.9rem;
  line-height: 2.9rem;
}

/*imgcontent-start*/
  .occupy{
    width: 100%;
    height: 3.6rem;
  }
  .YH-Img{
    width: 100%;
    height: 18.99rem;
    background: url(../Image/hold.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
  }
  .YH-Img p{
    display: inline-block;
    background: rgba(0,0,0,0.7);
    color: #fff;
    font-size: 2.8rem;
    font-family: 'simhei';
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 1rem;
  }
  .YH-Img p small{
    font-size: 1.6rem;
  }
  .YH-Img span{
    width: 2.8rem;
    height: 2.8rem;
    display: inline-block;
    background: url(../Image/ic_like_nomal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .YH-Img span.heart-hover{
    background: url(../Image/ic_like_hover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .YH-Img-C{
    width: 100%;
    height: 7rem;
    padding:1rem;
    background: #fff
  }
  /*.YH-Img-C p{
    padding:1rem;
  }*/
  .YH-Img-C p.title1{
    font-size: 1.8rem;
    font-weight: bold;
  }
  .YH-Img-C p span {
    float: right;
  }
  .YH-Img-C p.area{
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  .YH-Img-C p.area a{
    padding: 0 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .YH-Img-C p.area a:nth-child(1){
    border-right: 1px solid #ddd;
    background: url(../Image/room.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 1.5rem;
  }
  .YH-Img-C p.area a:nth-child(3){
    color:#F6B13D;
    border:0.1rem solid #F6B13D;
    border-radius: 0.2rem;
  }
  .YH-Img-C p.area a.star{
    background: url(../Image/star.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    color: transparent;
  }
/*imgcontent-end*/
