/*html,
body,
div,
ul,
li,
p,
footer,
header,
article,
a,
b,
em,
nav,
form,
input,
textarea,
select,
button,
i,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}*/

body {
    font-family: "Microsoft Yahei";

}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 0px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*form start*/
form {
  width: 100%;
  background-color: #fff;
}
form div.dis{
  height: 15px;
  background-color: #F5F5F5;
}
form.yof p{
  font-size: 1.5rem;
  font-weight: normal;
  text-align: left;
  padding:11px 20px;

}
form p span {
  color: #999;
  width: 20%;
}
form.yof p input{
  width: 70%;
  font-weight: normal;
  float: right;
  text-align: right;
  font-size: 1.5rem;
  background-color: #fff;
}
div.App form.yof p select.yacht_sel{
  width: 70%;
  float: right;
  text-align: right;
  font-weight: normal;
  background-color: #fff;
  font-size: 1.5rem;
  appearance:none;
  padding-right: 2rem;
  background: url('../Image/arrow_grey.png') no-repeat;
  background-position: right;
  background-size: 1rem;
  direction: rtl;
}

input[type="date"]{direction: rtl}
input,button,select,textarea{outline:none}
textarea,select,input{-webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;}

.sub{
  position: fixed;
  bottom: 0.3rem;
  width: 100%;
  padding:0.2rem;
  border: none;
  background-color: #fff
}
.sub p{
  display: inline-block;
  width: 50%;
  border-bottom: 0;
  font-weight: bold;
  padding: 1rem;
}
.sub p:nth-child(1) span{
  color:red;
  font-size: 2rem;
}
.sub p.payment{
  text-align: right;
}
.sub p.payment a{
  color:#fff;
  text-align: center;
  border-radius: 5rem;
  background-color: #4BDC9B;
  padding: 1rem 1.7rem;
}

/*form end*/
